<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="favicon.png">
    <title>Server List</title>

    <link rel="stylesheet" href="css/global.css">


    <link rel="stylesheet" href="js/layui/css/layui.css">
    <script src="js/layui/layui.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/console.css">
    <script src="js/bootstrap.bundle.min.js"></script>

</head>
<body>

<div class="layui-tab layui-tab-brief">
    <ul class="layui-tab-title mb-0">
        <li id="linuxTab" class="layui-this cheatSheet fw-bold" data-category="linux">
            <i class="layui-icon layui-icon-ios cheatSheet" data-category="linux">Linux</i>
        </li>
        <li id="winTab" class="cheatSheet" data-category="windows">
            <i class="layui-icon layui-icon-windows cheatSheet" data-category="windows"></i>
            <span class="fw-bold cheatSheet" data-category="windows">Windows</span></li>
        <li class="cheatSheet" data-category="common">
            <i class="layui-icon layui-icon-website cheatSheet fw-bold" data-category="common">Common</i>
        </li>
    </ul>
    <div class="layui-tab-content pt-0" style="height: 100px;">
        <div class="layui-tab-item layui-show">
            <table class="layui-hide" id="cheatSheet" lay-filter="cheatSheet"></table>
        </div>
    </div>
</div>
<script type="text/html" id="topToolBar">
    <div class="row align-items-center">
        <input id="searchInput" class="layui-input col col-sm" type="search" name="key" placeholder="search commands"/>
        <button class="layui-btn layui-btn-primary col-1 border-0" style="width: 5% !important;" lay-event="search">
            <i class="layui-icon layui-icon-search fw-bolder" style="font-size: 20px"></i>
        </button>
        <div class="col-6 col-xs-1"></div>
    </div>
</script>
<script>
    layui.use(['table'], function () {
        let table = layui.table, $ = layui.$, layer = layui.layer;

        layer.config({
            extend: 'console-skin/style.css', //加载您的扩展样式
            skin: 'layui-skin-console'
        });

        let cheatSheetTable = table.render({
            elem: '#cheatSheet' // table id
            , url: "/tldr/category/linux"
            , skin: 'nob'
            , method: 'get'
            , toolbar: '#topToolBar'
            , defaultToolbar: [{ //customize
                title: 'tips'
                , layEvent: 'tips'
                , icon: 'layui-icon-tips'
            }]
            , cols: [[
                {
                    field: 'cmd',
                    sort: true,
                    width: 200,
                    title: 'CMD',
                    unresize: true,
                    templet: "<span><strong>{{ d.cmd }}</strong></span>"
                }
                , {field: 'info', title: 'INFO', unresize: true}
            ]]
            , done: function () {
                $("#searchInput").keyup(function (event) {
                    if ('Enter' !== event.key) return;
                    let prefix = $(this).val();
                    layer.load(1);
                    if (!prefix) {
                        cheatSheetTable.reload({
                            url: "/tldr/category/" + (window.category ? window.category : 'linux')
                        })
                    } else {
                        cheatSheetTable.reload({
                            url: "/tldr/" + (window.category ? window.category : 'linux'),
                            where: {
                                prefix,
                            }
                        })
                        $("#searchInput").val(prefix).focus()
                    }
                    layer.closeAll('loading');
                })
            }
        });

        //row click event
        table.on('rowDouble(cheatSheet)', function (obj) {
            //change row style after being selected
            obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
            let command = obj.data.cmd;
            window.parent.ws.send(
                JSON.stringify({
                    type: 'TERMINAL_COMMAND',
                    command,
                })
            );
            window.parent.layui.layer.closeAll();
        });
        table.on('row(cheatSheet)', function (obj) {
            //change row style after being selected
            obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
        });

        // top toolbar event handle
        table.on("toolbar(cheatSheet)", function (obj) {
            switch (obj.event) {
                case 'tips':
                    layer.tips('Tips: Double click a row to execute the command', '.layui-table-tool-self', {
                        tips: 4,
                        time: 5000
                    });
                    break
                case 'search':
                    let prefix = $("#searchInput").val()
                    if (!prefix) return
                    cheatSheetTable.reload({
                        url: "/tldr/" + (window.category ? window.category : 'linux'),
                        where: {
                            prefix,
                        }
                    })
                    $("#searchInput").val(prefix)
                    break
            }
        })

        $(".cheatSheet").click(function (event) {
            let curr = $(event.target)
            switch (curr.data("category")) {
                case 'linux':
                    window.category = 'linux'
                    cheatSheetTable.reload({
                        url: '/tldr/category/linux'
                    })
                    break
                case 'windows':
                    window.category = 'windows'
                    cheatSheetTable.reload({
                        url: '/tldr/category/windows'
                    })
                    break
                case 'common':
                    window.category = 'common'
                    cheatSheetTable.reload({
                        url: '/tldr/category/common'
                    })
                    break
            }
        })
    });

    function isWindows() {
        let userAgetn = window.navigator.userAgent.toLowerCase();
        return userAgetn.indexOf('window') >= 0;
    }
</script>
</body>
</html>
