<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/xterm.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/fullscreen.min.css" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="favicon.png">
    <title>Cloud Terminal</title>

    <link rel="stylesheet" href="js/layui/css/layui.css" media="all">
    <script src="js/layui/layui.js"></script>

    <script src="js/jquery.min.js"></script>
    <script src="js/xterm.min.js"></script>
    <script src="js/fullscreen.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
<h2 style="position: fixed;z-index: 10000;color: white;top: 2%;right: 2%;">Cloud Terminal</h2>
<div id="terminal"></div>
<script>
    layui.use(['util'], function () {
        let util = layui.util, $ = layui.$, layer = layui.layer;
        //fixbar
        util.fixbar({
            bar1: true
            , bar2: true
            , icon1: '&#xe653;'
            , icon2: '&#xe639;'
            , title1: "server list"
            , title2: "clear"
            , css: {right: 50, bottom: 100}
            , bgcolor: '#c15050'
            , click: function (type) {
                if (type === 'bar1') {
                    let that = this;
                    //多窗口模式，层叠置顶
                    layer.open({
                        type: 2 //page
                        , title: 'Server List'
                        , area: ['60%', '70%'] // [width,height]
                        , shade: [0.8, '#393D49']
                        , maxmin: true
                        , content: '/?page=serverList'
                        , zIndex: layer.zIndex //重点1
                        , success: function (layero, index) {
                            layer.setTop(layero); // keep the selected window on top
                            //recode index
                            layer.escIndex = layer.escIndex || [];
                            layer.escIndex.unshift(index);
                            //if being selected, put current layer index to top
                            layero.on('mousedown', function () {
                                var _index = layer.escIndex.indexOf(index);
                                if (_index !== -1) {
                                    layer.escIndex.splice(_index, 1); //delete old index
                                }
                                layer.escIndex.unshift(index); //put index to the head
                            });
                        }
                        , end: function () {
                            //update index
                            if (typeof layer.escIndex === 'object') {
                                layer.escIndex.splice(0, 1);
                            }
                        }
                    });
                } else if (type === 'bar2') {
                    let command = 'clear || cls \r\n';
                    window.ws.send(
                        action('TERMINAL_COMMAND', {
                            command,
                        })
                    );
                }
            }
        });

        // esc key event
        $(document).on('keyup', function (e) {
            if (e.keyCode === 27) {
                layer.close(layer.escIndex ? layer.escIndex[0] : 0);
            }
        });
    });
</script>
</body>
</html>
