<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/xterm.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/fullscreen.min.css" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="favicon.png">
    <title>Cloud Terminal</title>

    <link rel="stylesheet" href="js/layui/css/layui.css" media="all">
    <script src="js/layui/layui.js"></script>

    <script src="js/jquery.min.js"></script>
    <script src="js/xterm.min.js"></script>
    <script src="js/fullscreen.min.js"></script>
    <script src="js/main.js"></script>

    <link rel="stylesheet" href="css/global.css">
    <style>
        .font-family-button {
            margin: 0 2px 10px 0 !important;
            color: var(--console-color);
            border-color: var(--console-color);
        }

        .layui-btn-primary:hover {
            color: white !important;
        }

        .layui-tab-title {
            border-bottom-style: none;
            font-weight: bolder;
        }

        .layui-field-title {
            margin: 0;
            color: var(--console-color);
            border-color: var(--console-color) !important;
        }

        .layui-field-title legend {
            font-size: 15px;
        }
    </style>

</head>
<body style="background-color: black">
<h2 style="position: fixed;z-index: 10000;color: white;top: 2%;right: 2%;">
    <strong>Cloud Terminal</strong>
</h2>
<div style="position: fixed;z-index: 10000;color: white;top: 0;right: 50%;">
    <i id="cheatsheet" class="layui-icon layui-icon-triangle-d"
       style="font-size: 25px; color: #ffffff; font-weight: bolder;opacity: 0.6"></i>
</div>
<div style="position: fixed;z-index: 10000;color: white;bottom: 0;right: 50%;">
    <i id="tldr" class="layui-icon layui-icon-up"
       style="font-size: 25px; color: #ffffff; font-weight: bolder;opacity: 0.6"></i>
</div>
<div id="terminal"></div>
<input id="tldrInput" class="layui-input border-5" placeholder="Enter a command and press enter to search"
       style="display: none;width: 300px;background-color: #000000;border-color: #c15050;color: white"/>

<div id="styleDropDownContainer" hidden>
    <div class="layui-tab layui-tab-brief" lay-filter="styleDropDown" id="styleDropDown">
        <ul class="layui-tab-title">
            <li class="layui-this">Font Family</li>
            <li>Font Size</li>
        </ul>
        <div class="layui-tab-content" style="overflow: scroll">
            <div class="layui-tab-item layui-show" id="font-family-list">
                <button class="font-family-button layui-btn layui-btn-primary" onclick="fontFamily(this)"
                        style="font-family: courier-new,courier,monospace">Default
                </button>
            </div>
            <div class="layui-tab-item" id="font-size-list">
                <fieldset class="layui-elem-field layui-field-title" style="margin-bottom: 10px;">
                    <legend>Font Weight</legend>
                </fieldset>
                <div id="font-weight-button-container">
                    <button class="font-family-button layui-btn layui-btn-primary" onclick="fontWeight(this)"
                            style="font-size: 16px;font-weight: normal">Default
                    </button>
                </div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-bottom: 10px;">
                    <legend>Font Size</legend>
                </fieldset>
                <div id="font-family-button-container">
                    <button class="font-family-button layui-btn layui-btn-primary" onclick="fontSize(this)"
                            style="font-size: 16px">Default
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let theme = {
        bgColor: '#c15050'
    };
    layer.config({
        extend: 'console-skin/style.css', //load customized skin style
        skin: 'layui-skin-console'
    });

    // init terminal font family
    let intervalIndex = setInterval(function () {
        let activeFamily = localStorage.getItem("terminal-font-family") ? localStorage.getItem("terminal-font-family") : 'courier-new,courier,monospace'
        let activeSize = localStorage.getItem("terminal-font-size") ? localStorage.getItem("terminal-font-size") : '14px'
        let activeWeight = localStorage.getItem("terminal-font-weight") ? localStorage.getItem("terminal-font-weight") : 'normal'
        if ($(".terminal").css("font-family") != activeFamily
            || $(".terminal").css("font-size") != activeSize
            || $(".terminal").css("font-weight") != activeWeight) {

            $(".terminal").css("font-family", activeFamily);
            $(".terminal").css("font-size", activeSize);
            $(".terminal").css("font-weight", activeWeight);
            resizeTerm();
        } else {
            clearInterval(intervalIndex)
        }
    }, 100);

    //init font family list
    $.ajax("js/data/font-family.json", {
        success: function (res) {
            let list = eval(res)
            //
            for (const family of list) {
                $("#font-family-list").append(
                    '<button class="font-family-button layui-btn layui-btn-primary" onclick="fontFamily(this)" style="font-family: '
                    + family + '">' + family + '</button>'
                )
            }

        }
    })

    //init font size list
    for (let i = 10; i <= 35; i++) {
        $("#font-family-button-container").append(
            '<button class="font-family-button layui-btn layui-btn-primary" onclick="fontSize(this)" '
                .concat('style="font-size: ' + i + 'px">' + i + '</button>')
        )
    }

    // init font weight list
    for (let i = 100; i <= 900; i += 100) {
        $("#font-weight-button-container").append(
            '<button class="font-family-button layui-btn layui-btn-primary" onclick="fontWeight(this)" '
                .concat('style="font-weight: ' + i + '">' + i + '</button>')
        )
    }

    layui.use(['util'], function () {
        let util = layui.util, $ = layui.$, layer = layui.layer, dropdown = layui.dropdown;
        //fixbar
        util.fixbar({
            bar1: {
                title: "style",
                icon: '&#xe639;'
            },
            bar2: {
                title: "home",
                icon: '&#xe68e;'
            }
            , bar3: {
                title: "server list",
                icon: '&#xe653;'
            }
            , bar4: {
                icon: '&#xe640;',
                title: "clear"
            }
            , css: {right: 20, bottom: 50}
            , bgcolor: theme.bgColor
            , click: function (type) {
                if (type === 'bar1') {
                    dropdown.render({
                        elem: '#layui_fixbar1',
                        align: 'left',
                        content: $("#styleDropDownContainer").html(),
                        style: 'width: 450px; height: 400px; padding: 0 15px; box-shadow: 1px 1px 30px rgb(0 0 0 / 12%);' +
                            'overflow:scroll;background-color:var(--console-bg);border:none',
                        ready: function () {
                            layui.use('element', function (element) {
                                element.render('tab');
                            });
                        }
                    });

                } else if (type === 'bar2') {
                    location.replace(location.origin);
                } else if (type === 'bar3') {
                    let that = this;
                    //多窗口模式，层叠置顶
                    layer.open({
                        type: 2 //page
                        , title: 'Session List'
                        , area: ['60%', '70%'] // [width,height]
                        , shade: [0.5, '#393D49']
                        , maxmin: true
                        , content: '/?page=serverList'
                        , shadeClose: true
                        , zIndex: layer.zIndex //重点1
                        , success: function (layero, index) {
                            layer.setTop(layero); // keep the selected window on top
                            //recode index
                            layer.escIndex = layer.escIndex || [];
                            layer.escIndex.unshift(index);
                            //if being selected, put current layer index to top
                            layero.on('mousedown', function () {
                                var _index = layer.escIndex.indexOf(index);
                                if (_index !== -1) {
                                    layer.escIndex.splice(_index, 1); //delete old index
                                }
                                layer.escIndex.unshift(index); //put index to the head
                            });
                        }
                        , end: function () {
                            //update index
                            if (typeof layer.escIndex === 'object') {
                                layer.escIndex.splice(0, 1);
                            }
                        }
                    });
                } else if (type === 'bar4') {
                    window.term.clear();
                }
            }
        });

        $("#cheatsheet").click(function (event) {
            layer.open({
                type: 2 //page
                , title: 'Cheat Sheets'
                , area: ['60%', '70%'] // [width,height]
                , shade: [0.5, '#393D49']
                , maxmin: true
                , content: '/?page=cheatSheet'
                , zIndex: layer.zIndex //重点1
                , shadeClose: true
                , anim: 0
                , skin: 'layui-skin-console'
                , success: function (layero, index) {
                    layer.setTop(layero); // keep the selected window on top
                    //recode index
                    layer.escIndex = layer.escIndex || [];
                    layer.escIndex.unshift(index);
                    //if being selected, put current layer index to top
                    layero.on('mousedown', function () {
                        var _index = layer.escIndex.indexOf(index);
                        if (_index !== -1) {
                            layer.escIndex.splice(_index, 1); //delete old index
                        }
                        layer.escIndex.unshift(index); //put index to the head
                    });
                }
                , end: function () {
                    //update index
                    if (typeof layer.escIndex === 'object') {
                        layer.escIndex.splice(0, 1);
                    }
                }
            });
        })

        $("#tldr").click(function (event) {
            $(this).hide();
            layer.open({
                type: 1,
                shade: false,
                title: false,
                offset: ['93%'], //[top,left]
                css: {bottom: 20},
                content: $('#tldrInput'),
                cancel: function () {
                    $("#tldr").show();
                    setTimeout(function () {
                        $('#tldrInput').hide();
                    }, 200)
                }
            });
            $("#tldrInput").focus()
        })

        $("#tldrInput").keyup(function (event) {
            if ('Enter' !== event.key) return;
            let searchCmd = $(this).val();
            if (!searchCmd) return;

            layer.open({
                type: 2 //page
                , title: false
                , area: ['40%', '70%'] // [width,height]
                , shade: [0.5, '#393D49']
                , maxmin: false
                , fixed: false
                , shadeClose: true
                , content: '/?page=tldr&cmd=' + searchCmd
                , zIndex: layer.zIndex //重点1
                , success: function (layero, index) {
                    layer.setTop(layero); // keep the selected window on top
                    //recode index
                    layer.escIndex = layer.escIndex || [];
                    layer.escIndex.unshift(index);
                    //if being selected, put current layer index to top
                    layero.on('mousedown', function () {
                        var _index = layer.escIndex.indexOf(index);
                        if (_index !== -1) {
                            layer.escIndex.splice(_index, 1); //delete old index
                        }
                        layer.escIndex.unshift(index); //put index to the head
                    });
                }
                , end: function () {
                    //update index
                    if (typeof layer.escIndex === 'object') {
                        $("#tldrInput").val('')
                    }
                }
            });
        })

        // esc key event
        $(document).on('keyup', function (e) {
            if (e.keyCode === 27) {
                layer.close(layer.escIndex ? layer.escIndex[0] : 0);
            }
        });
        $("#cheatsheet").hover(function (event) {
            $(event.target).css("opacity", 1).css("color", theme.bgColor)
        }, function (event) {
            $(event.target).css("opacity", 0.6).css("color", "#ffffff")
        })
        $("#tldr").hover(function (event) {
            $(event.target).css("opacity", 1).css("color", theme.bgColor)
        }, function (event) {
            $(event.target).css("opacity", 0.6).css("color", "#ffffff")
        })

    });

    function fontFamily(that) {
        localStorage.setItem('terminal-font-family', $(that).css('font-family'));
        $(".terminal").css('font-family', $(that).css('font-family'));
        resizeTerm()
    }

    function fontSize(that) {
        localStorage.setItem('terminal-font-size', $(that).css('font-size'));
        $(".terminal").css('font-size', $(that).css('font-size'));
        resizeTerm()
    }

    function fontWeight(that) {
        localStorage.setItem('terminal-font-weight', $(that).css('font-weight'));
        $(".terminal").css('font-weight', $(that).css('font-weight'));
        resizeTerm()
    }
</script>
</body>
</html>
